@import "@fontsource/cormorant-garamond/400.css";
@import "@fontsource/manrope/400.css";
@import "@fontsource/manrope/500.css";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
}

img {
	max-width: 100%;
	display: block;
}

* {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

*::-webkit-scrollbar {
	display: none;
}

body.no-scroll {
	overflow: hidden;
}
